[submodule "ECommons"]
	path = ECommons
	url = https://github.com/MeowZWR/ECommons
	branch = master
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/MeowZWR/OtterGui
	branch = cn
[submodule "Glamourer.Api"]
	path = Glamourer.Api
	url = https://github.com/MeowZWR/Glamourer.Api
	branch = cn
[submodule "Penumbra.Api"]
	path = Penumbra.Api
	url = https://github.com/MeowZWR/Penumbra.Api
	branch = cn
